#verifyForm {
    height: 100vh;
    min-height: 100dvh;
    max-height: 100svh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100vw;
    align-items: center;

    form {
        text-align: center;
        margin-block: auto;

        /* width:; */
        span {
            color: #919191;
        }

        .inner-verify-form {
            /* padding-inline: 20px; */
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }

        .email-wrapper {
            font-size: 48px;
            font-weight: 500;
            line-height: 1;
            padding-bottom: 24px;
        }
    }
}

#verify {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: none;
    width: 100%;


}

.code-v {
    margin-left: auto;
    padding-bottom: 20px;
    width: max-content;

    a {
        color: #919191;
        text-decoration: underline;
    }
}

.v-btn {
    width: 100%;
    padding-block: 18px;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 8px;
    background-color: #2C2C2C;
    border: none;
    transition: all .6s var(--bouncy-ease);
    /* border-radius: 30px; */
    color: white;
}

.btn-disabled {
    background-color: #A5A5A5;
}