   #verifyForm {
       display: flex;
       width: 100vw;
       height: 100vh;
       justify-content: center;
       align-items: center;
       text-align: center;
   }

   /* justify-content: center; */
   /* width: 100vw; */
   /* flex-wrap: nowrap; */
   /* align-items: center; */
   */
   /* height: 100vh;
    min-height: 100dvh;
    max-height: 100svh; */

   form {

       margin-block: auto;

       /* width:; */
   }

   form span {
       font-size: 14px;
       color: #919191;
   }

   .inner-verify-form {
       /* padding-inline: 20px; */
       display: flex;
       width: auto;
       flex-direction: column;
       align-items: center;
       gap: 24px;
   }

   .email-wrapper {
       font-size: 30px;
       font-weight: 500;
   }

   #verify {
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0;
       max-width: none;
       width: 100%;


   }

   .code-v {
       margin-left: auto;
       padding-bottom: 20px;
       width: max-content;

       a {
           font-size: 14px;
           color: #919191;
           text-decoration: underline;
       }
   }

   .v-btn {
       width: 100%;
       padding-block: 18px;
       text-transform: uppercase;
       line-height: 1;
       border-radius: 8px;
       background-color: #2C2C2C;
       border: none;
       transition: all .6s var(--bouncy-ease);
       color: white;
   }

   .btn-disabled {
       background-color: #A5A5A5;
   }

   .inner-creating-acc {
       display: flex;
       flex-direction: column;
       /* gap: 24px; */
       gap: 18px;
   }

   .acct-crt-txt {
       color: #919191;
   }

   .char {
       overflow: visible;
       padding: 0 .0025px;
   }

   .avatar-pfp {
       scale: .5;
       opacity: 0;
       transition: all 1s var(--bouncy-ease);
   }

   .avatar-pfp-visible {
       opacity: 1;
       will-change: scale;
       /* transition-delay: 1s; */
       -webkit-backdrop-filter: none;
       -moz-backdrop-filter: none;
       backdrop-filter: none;
       scale: 1;
       z-index: 3;
   }


   /* media  queries */

   @media screen and (min-width: 420px) {
       .email-wrapper {
           font-size: 40px;
       }
   }

   @media screen and (min-width: 480px) {
       form span {
           font-size: 16px;
       }

       .email-wrapper {
           font-size: 42px;
       }
       
       .code-v a {
           font-size: 16px;
        }
    }
    
    @media screen and (min-width: 520px) {
        .email-wrapper {
            font-size: 48px;
        }
   }
